@import "mocha.css";

* {
	font-family: JetBrainsMono Nerd Font;
	font-weight: bold;
	font-size: 12px;
	min-height: 0;
}


window#waybar {
	background-color: @base;
	opacity: 0.97;
}

#workspaces {
	padding: 2 5;
	margin: 5;
	color: @text;
	background-color: @base2;
	border: none;
	border-radius: 20;
}
button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px transparent;
}
#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: @text;
}
#workspaces button:hover {
	color: @mauve;
}
#workspaces button.focused {
}
#workspaces button.urgent {
}

#window {
	padding: 2 5;
	margin: 5;
	color: @mauve;
	background-color: @base2;
	border: none;
	border-radius: 20;
}



#custom-cmus,
#custom-weather {
	padding: 2 5;
	margin: 5;
	color: @text;
	background-color: @base2;
	border: none;
	border-radius: 20;
}
#custom-cmus:hover {
	color: @mauve;
}


#tray {
	padding: 2 5;
	margin: 5;
	background-color: @base2;
	color: @text;
	border: none;
	border-radius: 20;
}

#language {
	padding: 2 5;
	margin: 5;
	color: @text;
	background-color: @base2;
	border: none;
	border-radius: 20;
}
#language:hover {
	color: @mauve;
}

#pulseaudio {
	padding: 2 5;
	margin: 5;
	color: @text;
	background-color: @base2;
	border: none;
	border-radius: 20;
}
#pulseaudio.muted {
	color: @maroon;
}
#pulseaudio:hover {
	color: @mauve;
}

#clock {
	padding: 2 5;
	margin: 5;
	color: @text;
	background-color: @base2;
	border: none;
	border-radius: 20;
}
#clock:hover {
	color: @mauve;
}

#custom-power {
	padding: 2 5;
	margin: 5 10 5 5;
	color: @pink;
	background-color: @base2;
	border: none;
	border-radius: 20;
}
#custom-power:hover {
	color: @maroon;
}

#custom-microphone {
	padding: 2 0 2 5;
	color: @red;
}

#custom-swaync {
	padding: 2 20 2 5;
	color: @mauve;
}

tooltip {
	background: @base;
	margin: 20px;
	padding: 15px;
	border: 20px solid rgba(100, 114, 125, 0);
	border-radius: 10px;
}
