[Desktop Entry]
Name=r2modman
Exec=/home/kyoshi/.apps/r2modman-3.2.6.AppImage
Terminal=false
Type=Application
Icon=r2modman
StartupWMClass=r2modman
X-AppImage-Version=3.1.57
Comment=A simple and easy to use mod manager for many games using Thunderstore.
MimeType=x-scheme-handler/ror2mm;
Categories=Game;
